<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome{% endblock %} - {{ profile.name }}</title>
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="icon" type="image/png" href="/public/images/icon.png">
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <a class="tab tab-action {% if tab == "status" %}active{% endif %}" href="/" class="tooltip tooltip-bottom" title="Status">
                    <i class="ion-android-home"></i>
                </a>
                <a class="tab tab-action" href="/dial" class="tooltip tooltip-bottom" title="Dial">
                    <i class="ion-android-apps"></i>
                </a>
                <a class="tab tab-action" href="/text" class="tooltip tooltip-bottom" title="Settings">
                    <i class="ion-android-send"></i>
                </a>
                <a class="tab tab-link {% if tab == "calls" %}active{% endif %}" href="/calls">Calls</a>
                <a class="tab tab-link {% if tab == "sms" %}active{% endif %}" href="/sms">Messages</a>
                <a class="tab tab-link {% if tab == "recordings" %}active{% endif %}" href="/recordings">Voicemail</a>
                <a class="tab tab-link {% if tab == "team" %}active{% endif %}" href="/team">Team</a>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>