<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome{% endblock %} - {{ profile.name }}</title>
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="icon" type="image/png" href="/public/images/icon.png">
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <a class="tab {% if tab == "calls" %}active{% endif %}" href="/calls">Calls</a>
                <a class="tab {% if tab == "sms" %}active{% endif %}" href="/sms">Messages</a>
                <a class="tab {% if tab == "recordings" %}active{% endif %}" href="/recordings">Voicemail</a>
                <a class="tab {% if tab == "team" %}active{% endif %}" href="/team">Team</a>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>