{% extends "layout.html" %}
{% import "macros/numbers.html" as numbers %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="panel">
        <table class="list list-sms">
            {% for sms in messages.list %}
            <tr>
                <td class="list-icon">
                    <div class="tooltip" title="{{ sms.direction|capitalize }} sms, {{ sms.status|capitalize }}">
                        <i class="ion-android-textsms {% if sms.status == "delivered" %}text-success{% else %}text-error{% endif %}"></i>
                        {% if sms.direction == "outbound" %}
                        <i class="ion-android-arrow-forward secondary"></i>
                        {% else %}
                        <i class="ion-android-arrow-back secondary"></i>
                        {% endif %}
                    </div>
                </td>
                <td>{{ numbers.item(sms.from) }}</td>
                <td>{{ numbers.item(sms.to) }}</td>
                <td>{{ sms.body }}</td>
                <td>{{ sms.sentTime|relativeDate }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}