{% extends "layout.html" %}
{% import "macros/numbers.html" as numbers %}

{% block title %}Status{% endblock %}

{% block body %}
    <div class="panel">
        <table class="list list-usages">
            <tr>
                <td class="list-icon">
                    <i class="ion-android-happy"></i>
                </td>
                <td>Receptionist</td>
                <td><a href="{{ numbers.callUrl(account.phones[0]) }}">{{ account.profile.name }}</a></td>
            </tr>
            <tr>
                <td class="list-icon">
                    <i class="ion-android-cloud-done"></i>
                </td>
                <td>Running since</td>
                <td>{{ account.startTime|relativeDate }}</td>
            </tr>
            <tr>
                <td class="list-icon">
                    <i class="ion-android-globe"></i>
                </td>
                <td>Language</td>
                <td>{{ account.profile.language }}</td>
            </tr>
        </table>
    </div>

    <div class="panel">
        <table class="list list-usages">
            {% for name, usage in account.usages %}
                {% if usage.label %}
                <tr>
                    <td class="list-icon">
                        <i class="{{ usage.label.icon }}"></i>
                    </td>
                    <td>{{ usage.label.title }}</td>
                    <td>{% if usage.label.unit %}{{ usage.value }} {{ usage.label.unit }}{% endif %}</td>
                    <td>${{ usage.price }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}