/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.list-calls {
  width: 100%;
  background: #fff;
}
.list-calls tr td {
  padding: 14px 10px;
  border-bottom: 1px solid #ececec;
}
.panel {
  margin: 20px 0px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.navigation {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.navigation .tab {
  display: table-cell;
  float: none;
  width: 1%;
  padding: 10px;
  border-bottom: 4px solid transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: #999;
  font-weight: 300;
}
.navigation .tab.active {
  border-bottom-color: #0288d1;
}
body {
  background-color: #e5e5e5;
  font: normal 13px Roboto, arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 15px 0px;
  overflow-y: scroll;
  visibility: visible;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}
