<div id="dialog-dial" class="dialog-container">
    <div class="dialog">
        <form class="form">
            <div class="dialog-inner">
                <div class="dialog-intro">
                    <h1>New Call</h1>
                    <p>Who do you want to call?</p>
                </div>
                <input type="tel" class="form-control"placeholder="Enter a phone number" />
                <div class="dialpad">
                    <table>
                        <tr>
                            <td><input type="button" value="1" id="button1"></td>
                            <td><input type="button" value="2" id="button2"></td>
                            <td><input type="button" value="3" id="button3"></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="4" id="button4"></td>
                            <td><input type="button" value="5" id="button5"></td>
                            <td><input type="button" value="6" id="button6"></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="7" id="button7"></td>
                            <td><input type="button" value="8" id="button8"></td>
                            <td><input type="button" value="9" id="button9"></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="*" id="buttonstar"></td>
                            <td><input type="button" value="0" id="button0"></td>
                            <td><input type="button" value="#" id="buttonpound"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="dialog-controls">
                <button type="submit">Call</button>
                <button data-dialog="dial">Cancel</button>
            </div>
        </form>
    </div>
</div>