<div id="dialog-sms" class="dialog-container">
    <div class="dialog">
        <form action="/sms" method="POST" class="form">
            <div class="dialog-inner">
                <div class="dialog-intro">
                    <h1>New Text Message</h1>
                    <p>Please enter a phone number and your message.</p>
                </div>
                <input name="to" type="tel" class="dial-input form-control"placeholder="Enter a phone number" />
                <textarea name="body" rows="4" class="form-control" placeholder="Enter your message"></textarea>
            </div>
            <div class="dialog-controls">
                <button type="submit">Send</button>
                <button data-dialog="sms">Cancel</button>
            </div>
        </form>
    </div>
</div>