.list {
    width: 100%;
    background: #fff;

    tr {

        td {
            padding: 14px 10px;
            border-bottom: 1px solid #ececec;
            vertical-align: middle;

            a {
                text-decoration: none;
                color: inherit;

                &:focus, &:hover {
                    text-decoration: underline;
                }
            }

            .list-icon {
                font-size: 24px;
                text-align: center;

                .secondary {
                    font-size: 14px;
                }
            }
        }
    }
}
