@import "./variables.less";
@import "./reset.less";
@import "./mixins.less";

@import "./list.less";
@import "./panels.less";
@import "./navigation.less";
@import "./tooltips.less";
@import "./dialogs.less";
@import "./forms.less";
@import "./audioplayer.less";
@import "./pagination.less";


* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font: normal 13px Roboto,arial,sans-serif;
    height: 100%;
    margin: 0;
    padding: 15px 0px;
    overflow-y: scroll;
    visibility: visible;
}

.container {
    max-width: @container-width;
    width: 100%;
    margin: 0px auto;
}

.text-success {
    color: @color-green;
}

.text-error {
    color: @color-red;
}